/* universal */
html {
    font-size: 16px;
}

h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

img {
    width: 100%;
    height: auto;
    display: block;  
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    font-weight: bold;
}

/* header */
header {
    border-bottom: 1px solid darkgray;
    margin-bottom: 4rem;
}

.header {
    max-width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 5rem;
    align-items: center;
}

nav {
    width:65%;
}

.header h1 {
    max-width:30%;
    font-size: 2.5rem;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

nav li a {
    font-size: 1.5rem;
}

/* About Me */

#about-me {
    max-width: 75%;
    margin: 0 auto;
    margin-bottom: 4rem;
}

.about-me-container {
    display: flex;
    align-items: center;
    height: 30rem;
}

.about-me-text {
    height: 100%;
    max-width: 60%;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.about-me-figure {
    max-width: 40%;
    text-align: center;
}

.about-me-text p {
    line-height: 1.5rem;
}

.about-me-figure figcaption {
    line-height: 2rem;
}

/* Projects */

#projects {
    max-width: 75%;
    margin: 0 auto;
    margin-bottom: 4rem;
    line-height: 2rem;
}

summary {
    font-size: 1.2rem;
}

.promptbutton.again {
    display: none;
}

/* Skills */
#skills {
    max-width: 75%;
    margin: 0 auto;
    margin-bottom: 4rem;
}

.skills-container {
    display: flex;
    justify-content: space-around;
}

.skill {
    width: 10rem;
    text-align: center;
    margin: 1rem;
}

#skills i {
    font-size: 2rem;
}

/* Footer */
footer {
    border-top: 1px solid darkgray;
}

.footer {
    max-width: 75%;
    margin: 0 auto;
    text-align: center;
    line-height: 2rem;
}

footer a {
    text-decoration: underline;
}

/* Media queries */

@media only screen and (max-width: 768px) {
    h2 {
        font-size: 1.8rem;
    }

    .header, #about-me, #projects, #skills, .footer {
        max-width: 90%;
    }

    .header h1 {
        font-size: 2rem;
    }

    nav li a {
        font-size: 1.3rem;
    }

    header, #about-me, #projects, #skills {
        margin-bottom: 2.5rem;
    }

    .about-me-container {
        display: block;
        height: fit-content;
    }

    .about-me-text {
        max-width: 100%;
        text-align: justify;
    }

    .about-me-figure {
        max-width: 100%;
    }

    .about-me-text p {
        margin-bottom: 1rem;
    }
}

@media only screen and (max-width: 520px) {
    .header h1 {
        font-size: 1.6rem;
    }

    nav li a {
        font-size: 1.1rem;
    }

    [href*='about-me'] {
        display: none;
    }

    h2 {
        font-size: 1.5rem;
    }
}